*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  padding:10px 0px 20px 0px;
}

.left {
  float:left;
}

.tvCard {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 20px;
  margin:10px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  height:auto;
}
.tvCard:hover {
  background-color: lightblue;
}
.tvCard:active {
  background-color: lightblue;
}

#iframe-container {
  width: 100%;
  height: 100%;
}

.channelName{
  font-size:large;
  white-space: nowrap;
}

.box{
  margin: 20px;
}

.register{
  padding: 40px;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.tvcard-col-3 {width: 25%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .tvcard-col-3 {width: 50%;}
}